div.jumbotron > div.buttons{
    display: flex;
    flex-flow: row-reverse;
}
div.jumbotron > div.buttons > button{
    margin-left: 1rem;
    background: rgba(0,0,0,0.45);
}
div.jumbotron > div.buttons > button:hover{
    background: rgba(0,0,0,0.75);
}
div.carrousell{
    display: flex;
    justify-content: center;

}
div.carrousell span{
    margin: 12.5rem 1rem;
    padding: 10px;
    background: rgba(0,0,0,0.25);
    color: white;
    transition: all 0.3s ease;
}
div.carrousell span:hover{
    background: rgba(0,0,0,0.5);
    cursor: pointer;
}